body {
  background-color: black;
}
#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}


#sideNav {
  width: 18.5%;
  z-index: 9999;
  background-color: #0d0d0d;
}

#navLinks ul {
  transition: top 0.6s 0.17s;
  list-style: none;
}

.hide {
  top: 400px;
}

.show {
  top: 0;
}

#navLinks a {
  color: white;
  text-decoration: none;
}

#navFooter a {
  color: white;
}

#navCtrl {
  width: 65px;
}

#sideNav #navCtrl {
  position: absolute;
  right: -23%;
}

.navCtrlIcons i {
  color: black;
}

#meals {
  width: 100%;
  padding-inline: 80px;
}

.itemStyle {
  overflow: hidden;
}

.infoStyle {
  top: 100%;
  background-color: rgba(233, 221, 202, 0.8);
  width: 93%;
  transition: top 0.5s;
}

.itemStyle:hover .infoStyle {
  top: 0;
}

#mealImg {
  margin: 50px;
}

#mealIns {
  margin-top: 50px;
}

#mealIns h3 {
  margin-block: 20px;
}

#mealIns #source.btn {
  background-color: rgb(58, 149, 107);
  color: white;
  transition: background-color 0.3s;
}

#mealIns #source.btn:hover {
  background-color: #2f6f51;
}

#mealIns #youtube.btn {
  background-color: #a8424d;
  color: white;
  transition: background-color 0.3s;
}

#mealIns #youtube.btn:hover {
  background-color: #bb2d3b;
}
#searchByName,
#searchByFL {
  width: 35%;
  background-color: black;
  color: white;
}
::placeholder {
  color: white;
  opacity: 1;
}

::-ms-input-placeholder {
  color: white;
}
#receipes li {
  padding: 5px;
  margin: 10px;
  background-color: #cff4fc;
  color: #18516a;
  border-radius: 6px;
  list-style: none;
}
#contactForm{
  width: 100%;
}
#formSubmitBtn {
  border: #bb2d3b solid 1px;
  color: #bb2d3b;
  width: 75px;
  height: 35px;
  transition: color 0.3s, background-color 0.3s;
}

#formSubmitBtn:hover {
  background-color: #bb2d3b;
  color: white;
}

.warningBG {
  background-color: #f8d7da;
}

.warningColor {
  color: #932029;
}
#Categories{
  width: 95%;
}
